<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Главная{% endblock %}
    {% block content %}

    <h1>Добро пожаловать!</h1>
    <p>Система учёта технических заявок.</p>

    <br>
    <!-- Кнопка для открытия окна -->
    <button id="openLogin" class="login-button">Войти</button>

    <!-- Модальное окно -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Авторизация</h2>
            <form method="post" action="/login">
                <label for="email">Email</label>
                <input type="email" name="email" required>

                <br>
                <br>
                <label for="password">Пароль</label>
                <input type="password" name="password" required>

                <br>
                <br>
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
    <script>
        const modal = document.getElementById("loginModal");
        const openBtn = document.getElementById("openLogin");
        const closeBtn = document.querySelector(".close");

        openBtn.onclick = () => modal.style.display = "block";
        closeBtn.onclick = () => modal.style.display = "none";
        window.onclick = (e) => {
            if (e.target == modal) modal.style.display = "none";
        };
    </script>
    {% endblock %}
</body>